@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        @foreach (var quiz in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@quiz.QuizTitle</h5>
                        <a asp-action="Quiz" asp-controller="Home" asp-route-id="@quiz.QuizId" class="btn btn-primary">Start Quiz</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
